[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = v3_req
prompt             = no

[ req_distinguished_name ]
C  = NO
ST = More og Romsdal
L  = Kristiansund
O  = Dev
CN = greentechsee2025.paakobla.no

[ v3_req ]
keyUsage         = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName   = @alt_names

[ alt_names ]
DNS.1 = greentechsee2025.paakobla.no
DNS.2 = localhost
IP.1  = 127.0.0.1
IP.2  = ::1
